[2020-04-22 21:51] peterpme commented on #116
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:51] #116 closed

[2020-04-22 21:51] peterpme commented on #122
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:51] #122 closed

[2020-04-22 21:52] peterpme commented on #11
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:52] #11 closed

[2020-04-22 21:52] peterpme commented on #148
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:52] #148 closed

[2020-04-22 21:52] peterpme commented on #182
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:52] #182 closed

[2020-04-22 21:52] peterpme commented on #212
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:52] #212 closed

[2020-04-22 21:52] peterpme commented on #144
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:52] #144 closed

[2020-04-22 21:52] peterpme commented on #137
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:52] #137 closed

[2020-04-22 21:53] peterpme commented on #38
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:53] #38 closed

[2020-04-22 21:53] peterpme commented on #123
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:53] #123 closed

[2020-04-22 21:53] peterpme commented on #258
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:53] #258 closed

[2020-04-22 21:53] peterpme commented on #256
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:54] peterpme commented on #138
@gaearon This has been fixed and is now `{React.string("hi dan")}`

Would love to have you give Reason another go-around :smile: Thanks!

Closing out for now.

[2020-04-22 21:54] #138 closed

[2020-04-22 21:55] peterpme commented on #264
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:55] #264 closed

[2020-04-22 21:55] peterpme commented on #273
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:55] #273 closed

[2020-04-22 21:55] peterpme commented on #275
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:55] #275 closed

[2020-04-22 21:55] MoOx commented on #138
Even better imo `{"Hi Dan"->React.string}` :)

[2020-04-22 21:56] peterpme commented on #154
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:56] #154 closed

[2020-04-22 21:56] peterpme commented on #28
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:56] #28 closed

[2020-04-22 21:56] peterpme commented on #315
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:56] #315 closed

[2020-04-22 21:56] peterpme commented on #325
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:56] #325 closed

[2020-04-22 21:56] peterpme commented on #42
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:56] #42 closed

[2020-04-22 21:57] peterpme commented on #362
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:57] #362 closed

[2020-04-22 21:57] peterpme commented on #371
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:57] #371 closed

[2020-04-22 21:57] peterpme commented on #387
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:57] #387 closed

[2020-04-22 21:58] peterpme commented on #384
For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please re-open if this is still relevant. Thanks!

[2020-04-22 21:58] #384 closed

[2020-04-22 21:58] peterpme commented on #412
Hey @justgage

Sorry about the delay! Please feel free to open a PR with some docs :smile: We'd love the help!

Closing this out for now

[2020-04-22 21:58] #412 closed

[2020-04-22 22:00] peterpme commented on #414
Hey @pomali

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Please feel free to open up a PR and we can go over functionality :smile:

Also please feel to join us on Discord https://discord.gg/reasonml

Thank you and sorry about the delay!

[2020-04-22 22:00] #414 closed

[2020-04-22 22:04] peterpme commented on #415
Hey folks,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:04] #415 closed

[2020-04-22 22:04] peterpme commented on #403
Hey folks,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:04] #403 closed

[2020-04-22 22:05] peterpme commented on #434
Hey @nikgraf,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:05] #434 closed

[2020-04-22 22:05] peterpme commented on #439
Hey @a7c ,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:05] #439 closed

[2020-04-22 22:06] peterpme commented on #421
Hey folks,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:06] peterpme commented on #441
This will be released soon. Closing this issue for now. Thanks @SebastianKurp !!

[2020-04-22 22:06] #441 closed

[2020-04-22 22:07] peterpme commented on #445
Hey @jdeisenberg

Thank you for this! Feel free to open up a PR :smile:

[2020-04-22 22:07] #445 closed

[2020-04-22 22:07] peterpme commented on #453
Hey @zbaylin

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:07] #453 closed

[2020-04-22 22:08] peterpme commented on #402
Hey @jaredly

Based on this convo, do you mind opening a PR?

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:08] #402 closed

[2020-04-22 22:08] peterpme commented on #458
Hey @webmstk,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:08] #458 closed

[2020-04-22 22:09] peterpme commented on #459
Hey @Coobaha,

For the sake of cleaning up the repo (and given how old this issue is) I'm going to close this out.

Thank you and sorry about the delay. Please re-open if its still relevant!

[2020-04-22 22:09] #459 closed

[2020-04-22 22:14] peterpme commented on #462
Hey @aw-yt

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now.

Sorry about the delay. Please re-open if its still relevant.

Thanks!

[2020-04-22 22:14] #462 closed

[2020-04-22 22:15] peterpme commented on #473
Hey @nirvdrum,

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now.

Sorry about the delay. Please re-open if its still relevant.

Thanks!

[2020-04-22 22:15] peterpme commented on #475
Hey @elnygren,

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now.

Sorry about the delay. Please re-open if its still relevant.

Thanks!

[2020-04-22 22:15] #475 closed

[2020-04-22 22:16] peterpme commented on #476
Hey @johnridesabike,

This is awesome! Would love your help on this. I think a page "ReactJS Idioms Equivalents" would be awesome!

Thank you!

[2020-04-22 22:18] peterpme commented on #452
Hey @gugahoa

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now.

Sorry about the delay. Please re-open if its still relevant.

Thanks!

[2020-04-22 22:18] #452 closed

[2020-04-22 22:18] peterpme commented on #477
Hey @bsansouci

I think you opened up a PR for this so I'm going to close this out for now. If I'm wrong please feel free to re-open.

Thanks!

[2020-04-22 22:18] #477 closed

[2020-04-22 22:20] peterpme commented on #486
Hey @yawaramin

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now. Feel free to re-open.

Also if you'd like to open a PR up and write the FAQ, I can help you get it merged in. Thanks!!

[2020-04-22 22:20] #486 closed

[2020-04-22 22:20] peterpme commented on #428
Hey folks,

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now.

Sorry about the delay. Please re-open if its still relevant.

Thanks!

[2020-04-22 22:20] #428 closed

[2020-04-22 22:20] peterpme commented on #451
Hey folks,

In an effort to clean up the repo (and given how old this issue is) I'm going to close this out for now.

Sorry about the delay. Please re-open if its still relevant.

Thanks!

[2020-04-22 22:20] #451 closed

[2020-04-22 22:20] peterpme commented on #492
Hey @RomanGalochkin

We're working on merging this PR in so I'm going to close this out. Thanks!

[2020-04-22 22:20] #492 closed

[2020-04-22 22:21] peterpme commented on #494
Hey @selenir,

we're working on a new release. Closing this out for now.

Thanks!

[2020-04-22 22:21] #494 closed

[2020-04-22 22:23] peterpme commented on #230
Hey @alexfedoseev

Would you mind creating a PR and adding that to the docs? This is an awesome workaround for now.

Thank you!

[2020-04-22 22:24] peterpme commented on #504
Hey, closing this out for now in an effort to clean up issues. If this is still an issue, please re-open! Thanks!

[2020-04-22 22:24] #504 closed

[2020-04-22 22:24] peterpme commented on #509
Hey @jfrolich

In an effort to clean up the repo, I'm going to close this out. Please re-open if this is still an issue!

[2020-04-22 22:24] #509 closed

[2020-04-22 22:25] peterpme commented on #435
Hey, we're working on merging in the `aria` issues. Please bare with us 😄

Closing this out for now, thanks!

[2020-04-22 22:25] #435 closed

[2020-04-22 22:26] nirvdrum commented on #473
@peterpme To the best of my knowledge, the project hasn't published API docs anywhere. But, project collaborators would have more insight than that to me. Unfortunately, I don't have the permissions to re-open this issue even if the aforementioned docs are still unavailable.

[2020-04-22 22:26] peterpme commented on #447
Closing this out for now. If this is still an issue, please re-open. Thanks!

[2020-04-22 22:26] #447 closed

[2020-04-22 22:27] peterpme commented on #513
Hey everyone,

I'm closing this issue out because we'll have some new releases soon :smile:

[2020-04-22 22:27] #513 closed

[2020-04-22 22:27] peterpme commented on #527
Hey @agarwal

Can you do me a huge favor and open up a PR with this addition? Thanks!

[2020-04-22 22:27] #527 closed

[2020-04-22 22:28] peterpme commented on #508
Hey everyone,

Everything should be working with latest version of bs-platform. We also have a new release that will upgrade bs-platform, etc.

If you still have issues, please re-open. Thanks!

[2020-04-22 22:28] #508 closed

[2020-04-22 22:31] peterpme commented on #524
Hey @ORESoftware

Do you mind creating an thread on The ReasonML Forums located here? https://reasonml.chat/

I'm not sure this is specific to this repo.

Thanks!

[2020-04-22 22:32] #524 closed

[2020-04-22 22:32] peterpme commented on #478
Hey folks,

Do you mind moving this convo to ReasonML Forums located here: https://reasonml.chat/

Thanks!

[2020-04-22 22:32] #478 closed

[2020-04-22 22:50] peterpme commented on #473
Re-opened! Would you be willing to help provide API docs by opening up a base PR?

[2020-04-22 22:59] nirvdrum commented on #473
I could take a stab at it, but the reason I was looking for docs is because almost certainly someone else knows the API better than me. If I were to provide a stub for this, is there a preferred documentation tool?

[2020-04-22 23:18] peterpme commented on #473
@nirvdrum that would be awesome! Create a file inside docs/api.md ([copy a different doc like this one](https://github.com/reasonml/reason-react/blob/master/docs/jsx.md))

Then just open up a PR! I *know* for sure folks in the ReasonML Discord would help complete this :smile:

You'll have a great understanding of the API and contribute back to the core repo!

[2020-04-23 01:52] jfrolich commented on #509
Great effort to clean the repo, but I think this still should be resolved, as it's inconsistent. I can not reopen this by myself.

[2020-04-23 14:33] peterpme commented on #509
Hey @jfrolich, thanks for reaching out! I think it is a bucklescript bug. Do you mind creating an issue here? https://github.com/BuckleScript/bucklescript/issues

Thank you!!!

[2020-04-23 14:55] jfrolich commented on #509
Ah the ppx is part of the Bucklescript Repo, I see. ✅ Thanks!

[2020-04-24 17:24] mlms13 commented on #473
It seems like API docs would be a good candidate for something like odoc, so they stay in sync with the actual code base. Maybe a good first step would be adding doc comments to the interface files in [the format supported by odoc](http://caml.inria.fr/pub/docs/manual-ocaml/ocamldoc.html#s%3Aocamldoc-comments). Then we could wire up automatic generation each time a new version of reason-react is r

[2020-04-27 21:15] peterpme commented on #303
Merged. Thanks!

[2020-04-27 21:15] #303 closed

[2020-04-27 21:16] peterpme commented on #473
Hey @mlms13 that's an awesome idea! Do you want to help with that?

[2020-04-27 22:35] peterpme commented on #230
Hey everyone, we've added an example here: https://reasonml.github.io/reason-react/docs/en/adding-data-props

[2020-04-27 22:56] #525 closed

[2020-04-28 15:45] rickyvetter opened #540 "bsrefmt version removes bs.obj externals"
Was testing with @peterpme and at least some projects won't be able to build if we use bsrefmt that we are pinned to now. https://github.com/reasonml/reason-react/commit/abf61ee706c8b4b51172598c8a6c409716100903 for a manual fix. cc @bloodyowl as it's related to https://github.com/reasonml/reason-react/pull/539

[2020-04-28 15:52] bloodyowl commented on #540
@rickyvetter Sorry about that, I though the minimum BuckleScript version was raised on the project. Created a PR that fixes it in the `React` module. https://github.com/reasonml/reason-react/pull/541

[2020-04-28 15:55] #540 closed

[2020-04-28 16:50] rickyvetter commented on #528
Yes I agree this is a mess. Will be working to make this more consistent. Here is my current plan. Let me know if any pieces of this don't make sense.

[code]

[2020-04-28 23:18] bloodyowl opened #548 "Stop versioning lib/js"
I'd say that the benefits no longer outgrow the negative aspects now:

- most of the code is bindings without any runtime
- when there is runtime, it creates merge conflicts
- it'd be more convenient when developing to have the build next to the source file (e.g. `src/React.bs.js`, with `*.bs.js` in gitignore)

[2020-04-29 03:17] jfrolich opened #549 "Fast Refresh with Reason-React"
Fast Refresh is triggering a full refresh when a file exports anything other than components. With `reason-react` when you have multiple components in a file you need to create submodules, which will be exported as objects with a `make` function that is the actual component. This however triggers a full refresh. Any ideas on how we can make fast refresh work in this situation (perhaps a PR to the

[2020-04-29 03:32] #476 closed

[2020-04-29 05:28] cknitt commented on #549
I found that this seems to be the case only for "root" components like the app root itself and e.g. React Navigation screens.

My workaround, if the submodules are only for internal use by the main component in the file, is to provide a .rei file that only exports the `make` function of the file's main component like so:

[code]

Of course it would be nice if this was fixed in the fast refresh imp

[2020-04-29 05:52] jfrolich commented on #549
Yeah I know about the workarounds. I also create `rei` files for this now. With `react-native-navigation` this occurs for each component and not only for the top components, and if you have a modal open it even completely crashes :), so not able to fast refresh is not a great DX.

[2020-04-29 14:20] rickyvetter commented on #548
Yeah agreed. I don't think it's a good idea to recommend unsafe JS usage of ReasonReact as it stands today. I think we can do this in a non-breaking release if we still publish these files, or we can remove them entirely in the next breaking.

If someone takes this on don't forget about the main entry in package.json and other config files.

[2020-04-29 14:27] rickyvetter commented on #549
I'm not sure I have enough context on what is preventing this. See https://reactnative.dev/docs/fast-refresh

It sounds like it should support components exported as `make` or any other key as long as that is all that's exported. Can you confirm that it doesn't work on components that only have `make` as a React component exported? If so, it sounds like a bug on their side that we should champion

[2020-04-29 14:27] #549 closed

[2020-04-30 01:25] jfrolich commented on #549
Yes that would be a solution, would be good to propose this. It's not necessarily a bug, but this will make sure it works with the `reason-react` components.

[2020-04-30 10:57] selenir opened #553 "Unexpected wrapper function when binding without @react.component"
When you create a binding for component, which doesn't use `[@react.component]` PPX (I think) adds unexpected wrapper function around the make function. E.g.:

[code]
Compiles to:
[code]
Expected output:
[code]

This makes difference, because if ExternalComponent is a class component, generated code produces runtime error.

[2020-04-30 20:54] rickyvetter commented on #553
This should work:

[code]

This is a BuckleScript safety feature around function arity. Because we know a little more about how React components specifically work than BuckleScript, we also know that in this case we can safely circumvent this feature. This is also good practice in general as it's possible that `React.component` will eventually be moved to an abstract type.

[2020-05-01 01:05] johnridesabike commented on #530
#529 got messed up. It was merged by accident, but none of its code was actually added to the master branch. #551 re-opened it.

[2020-05-02 07:08] nickretallack commented on #256
I haven't checked recently.  Did this ever get implemented?

[2020-05-03 20:49] peterpme commented on #256
Nope

[2020-05-04 11:21] selenir commented on #553
@rickyvetter Got it, thanks!

[2020-05-04 11:21] #553 closed

[2020-05-04 16:52] peterpme opened #557 "Docs: Coming from Typescript"
For all of our friends switching over from Typescript, docs that make that process easier for you. For starters, we want this to be as *simple as possible*:

- component in typescript compared to component in reason
- common pitfalls with typescript and how reason fixes those
- here's how to do X thing in typescript, in reason

In the Reason world a lot of us are talking about advanced typescript

[2020-05-04 16:53] peterpme opened #558 "Docs: Styling in Reason React"
We have Tailwind docs already, but it would be great to go over:

- basic importing of App.css (bs.module)
- Styled components (via styled-ppx ideally!)
- Emotion

and maybe even CSS modules but I don't use them myself

[2020-05-04 16:55] peterpme opened #559 "Docs: ReasonReact API"
A lot of folks have been asking about a documented ReasonReact API

- mentioning stuff that's going away / deprecated
- going through the API and at a high level, talking about each function.

There are curried versions of that function, but we should talk about them under each top level, for example:

- `useEffect`
  talk about useEffect0, useEffect1, etc, here
- `useState`

[2020-05-04 16:56] peterpme opened #560 "Docs: Importing Your Favorite JavaScript / TypeScript Package"
This is a common topic among beginners: how do I do this?

We can go over:
- using community versions of popular packages (`bs-*`)
- writing your own bindings for easy packages

I think it's worth pointing out that unlike `DefinitlyTyped` and the TypeScript ecosystem requiring _everything_ up front, we can say, "hey, if you only need to type x, y, z, its super easy, you don't need to install the w

[2020-05-04 16:59] peterpme opened #561 "Docs: Working with Forms (validation, submitting, different states, etc)"
A common question among beginners: how do I use forms? Can I use Formik? etc

- Start with the basics (how far can we get with just vanilla reason)
- Introduce a form library (whether thats re-formality, or a javsacript one like Formik)
- Common javascript use cases and how they convert to Reason
- debouncing? does that fall into this?

[2020-05-04 17:01] peterpme opened #562 "Docs: Pipe First vs. Pipe Last, What is Pipe to begin with? Even if it points to other docs"
Pipe First vs. Pipe Last keeps coming up a lot. This is an intermediate question once you're in deep so it's not necessarily geared towards newbies but I'd like some sort of resolve of this 😆

[2020-05-04 17:10] mlms13 commented on #473
Here's the Github Action script that we just started using: https://github.com/reazen/relude/blob/master/.github/workflows/release.yml

- Sets up OCaml/odoc
- Installs `esy` and builds `bsdoc` from source for Linux
- Generates html pages in `docs/api/` from odoc-formatted comments
- Publishes the whole `docs/` folder on the `gh-pages` branch

There would be some repo-specific work to make sure it

[2020-05-04 19:34] Et7f3 commented on #562
In the unix world: their are a lot of softwares that respect the rule [Do one thing and do it well](https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well). It is super useful to write script because each binary can be seen as a function. We could either use subshell `$(ls some_directories)` or use a [pipe `|`](https://en.wikipedia.org/wiki/Pipeline_(Unix)).
In fact this useful

[2020-05-05 02:47] rickyvetter commented on #498
BTW done a bit more work to research this and I want to document the two things I believe we need from BuckleScript:

1. A function that goes from `MyModule` to `Js.Import.t`. Suggested sytax: `[%import MyModule]`. This function should compile-time error if you pass a module that isn't a static, file-level construct which has 2:
2. We need an annotation for files to opt in to dynamic imports. This

[2020-05-05 04:15] rickyvetter opened #563 "Tests"
This library is sorely under-tested. Despite having an ever-shrinking runtime I think it's in our best interest to have tests for a number of reasons:

1. Tests can serve as working examples and additional explanation of features
2. Tests can prevent and point out breaking changes
3. Tests can validate that we are binding to React correctly and that we are binding to the correct versions of React

[2020-05-05 06:58] bloodyowl commented on #563
I can start working on that if you like. I so, I think I should start from https://github.com/reasonml/reason-react/pull/552 given this implies a few changes in the bs config.

[2020-05-05 15:02] #548 closed

[2020-05-05 15:04] rickyvetter commented on #563
Yeah - merged those changes just now so feel free to work off of master.

[2020-05-05 15:05] rickyvetter commented on #513
0.8.0 is out right now. Please open new issues if you run into any issues or you'd like to request features/changes. Thanks all! Enjoy.

[2020-05-05 17:20] melbourne2991 commented on #330
What would this look like with the new api?

[2020-05-05 20:36] ryyppy opened #568 "React.StrictMode?"
Today I learned about the `React.StrictMode` api, which is documented [here](https://reactjs.org/docs/strict-mode.html).

Is this relevant for ReasonReact? If so, would we add it to `React.re`?

[2020-05-05 21:02] rickyvetter commented on #568
Yes! PRs welcome.

[2020-05-05 21:07] rickyvetter commented on #496
It is not safe, no.

I think it's a good idea to deprecate all of these APIs in favor of `React.jsx` - https://github.com/reasonml/reason-react/pull/566. We will leave one version of createElement and which does not allow child passing. You can use it by adding `children` to props object directly.

[2020-05-05 21:26] jchavarri commented on #496
Thanks for clarifying :) I will check the new `React.jsx` work 👍

[2020-05-05 21:26] #496 closed

[2020-05-06 18:49] #568 closed

[2020-05-08 04:20] heygema commented on #230
I'm thinking of making own abstraction to Spread component? @peterpme for instance like `ownProps` attribute which takes the object and spread it on creation?

[2020-05-08 15:47] peterpme commented on #230
Hey @heygema open up a PR and we can take a look :smile:

[2020-05-13 17:36] zth commented on #498
@rickyvetter thanks for sharing your research, this is really exciting!

[2020-05-17 17:25] cem2ran opened #576 "Add example on recursive components"
I've seen this be asked a handful of times and think it deserves to be in the documentation.

Most recently this was [posted](https://discordapp.com/channels/235176658175262720/235199093155168257/711623596883181710) on discord (react channel):

--------
@thangngoc89
Reference for future me about recursive component

[code]

(sorry for spaming but I have to figure this out every single time I do th

[2020-05-17 17:26] cem2ran commented on #576
related: https://github.com/reasonml/reason-react/issues/330

[2020-05-18 07:21] heygema commented on #560
so as opposed to ```DefinitelyTyped``` folks, we apparently have many separate(possibly similar) ```bs-*``` bindings in the wild. imo to improve ReasonML engagement in the community, what about shipping Reason bindings in each of those pop packages/make a repo for ```DefinitelyBinded``` (I guess, redex already sort of solved this part) haha

[2020-05-18 17:07] #563 closed

[2020-05-18 19:58] rickyvetter opened #579 "Better ReasonReactRouter server support"
url, path, hash, and search should all take an optional raw string parameter for server usage. To be able to construct a URL for useUrl using the exact same logic that the client path will.

[2020-05-19 06:55] nickretallack commented on #256
Here's the PR I wrote 2 years ago attempting to add this to my local setup.  Ultimately I didn't use it though.

[2020-05-19 07:48] nickretallack commented on #256
Ok, I'm working on a proper change, but...  it would be nice if ReactEvent.re(i) followed the inheritance structure for event types instead of just repeating their fields over and over.  Is that possible?  I'll ask on discord for help with this tomorrow.

[2020-05-20 03:41] nickretallack commented on #256
The new PR: https://github.com/reasonml/reason-react/issues/256#issuecomment-630648149

[2020-05-20 13:48] amiralies opened #585 "Unicode support"
Should we mention unicode support and unicode behavouir of strings in docs? or maybe a link to [String and char](https://reasonml.github.io/docs/en/string-and-char) ?

[2020-05-20 16:19] rickyvetter commented on #585
Since Reason JSX syntax doesn't default to string children like JS I'm not sure that any special aside here is necessary. Unicode works exactly like it does in the rest of Reason, right?

[2020-05-20 17:11] amiralies commented on #585
You're right.

[2020-05-20 17:11] #585 closed

[2020-05-22 17:08] nirvdrum commented on #473
Chewing this over more, I think it's pretty unlikely I'll be able to contribute the requested documentation here. I'm active in other open source projects and realistically won't be able to find the time to read through all of this project's code, internalize it, submit proposed API documentation in a tool I've never used before, and then go through the requisite back-and-forth of the draft review

[2020-05-24 13:05] agarwal commented on #528
In OCaml libraries, I follow these rules:

A single library provides a single namespace, which we realize in OCaml with a module. So there is a single top-level module. Everything else goes under this module. Usually, the top-level module consists strictly of sub-modules, not values or types, i.e. we use `dune`'s auto-wrapping. Less frequently, it makes sense to include values and types also in th

[2020-05-26 20:42] rickyvetter opened #587 "Deprecate ReasonReact.re (module - not this lib)"
ReasonReact.re and anything related should be deprecated in favor of React.re

[2020-05-26 20:54] #530 closed

[2020-05-26 21:00] rickyvetter commented on #587
This includes `React.createRef`

[2020-05-28 08:01] banacorn commented on #218
I'm getting `null` from `ReactEvent.Form.target(event)` in some cases.
Should the returned type be `nullable(Js.t(<..>))` instead of just `Js.t(<..>)`?

[2020-05-28 08:07] bloodyowl commented on #218
@banacorn Do you execute `ReactEvent.Form.target(event)` in an async callback (such as `setState(() => ...)`? This is the most common mistake with React events, they are pooled to reduce memory pressure: the record still exists, but all properties are emptied right after the event handler call.

If that's the case, instead of:

[code]

you might want to do:

[code]

[2020-05-28 08:10] banacorn commented on #218
@bloodyowl wow that's a speedy response!

Yes, that's exactly the mistake I made! Thank you!

[2020-05-28 12:05] hoichi commented on #478
For the record, it _has_ been moved to https://reasonml.chat/t/typing-children-recursively/2345

[2020-06-09 07:10] shihKaiHung opened #598 "Add capture attribute for input element"
[code]

<img width="514" alt="截圖 2020-06-09 下午3 09 33" src="https://user-images.githubusercontent.com/15310175/84116881-3b347800-aa63-11ea-9d9a-2bc190916346.png">

[2020-06-09 09:15] #598 closed

[2020-06-13 14:00] GTDev87 commented on #576
I don't know a way of mutually recursive components, but I found this example here:

https://reasonml.chat/t/how-to-create-recursive-component-in-reasonreact/514/6

This is the best example I've found so far.  Even though it would be nicer if it were possible to spilt into multiple files.

Just leaving here for people to find.

[2020-06-24 13:21] yawaramin commented on #559
I've been thinking of adding some API docs to ReasonReact. I can take a shot at this.

[2020-07-07 14:32] erlandsona commented on #402
Sorry to necrobump this but ran into this today helping out my coworkers try and modify some existing ReasonReact code to use local state instead of reductive.

I think that `useState` has to make a choice about which JS signature to support in the external is generally fine. Where we got burnt was that the compiler is unifying the [`Js.t('a)`](https://github.com/reasonml/reason-react/blob/master/

[2020-07-12 18:47] cdaringe commented on #557
+ https://stackoverflow.com/questions/62854705/how-to-extend-html-attribute-interfaces-when-designing-reasonml-react-components

[2020-07-20 18:18] yawaramin opened #609 "Document the [@react.component {props}] payload"
Currently it's not documented that the attribute can take a `props` payload that sets the name of the component prop in JS output. E.g., `[@react.component {props: myProps}]` will output JS: `function Component(myProps) {...}`.

Seems like a good place to add this would be the `[@react.component]` section of the doc page: https://reasonml.github.io/reason-react/docs/en/components#reactcomponent

[2020-07-30 10:53] ccapndave opened #612 "ReactDOMRe.render should return something"
`ReactDOM.render` actually returns an object (containing amongst other things a `render` function which can be used to update the properties of the rendered component at runtime).  Because the type definition says the return type is `unit`, the compiler doesn't add a `return` statement which means the value is thrown away and can't be used by the rendering context.

This can be fixed with an extra

[2020-07-30 12:36] bloodyowl commented on #612
Do you have a use-case for that?

The issue is that `ReactDOM.render` returns whether:

- a DOM node if your render a DOM component
- `null` if you render a function component (which is the default with ReasonReact)
- a reference to the component in case of component classes.

We cannot infer the return type from `React.element`.

Given how rarely this is used, I'd advice for users who *really* wa

[2020-07-30 12:41] ccapndave commented on #612
To be honest, I thought I had a use case, but it turned out to be satisfied by simply re-rendering the component in the same container.

[2020-08-10 03:43] ChinChuanKuo opened #615 "reasonReact router problem"
excute me
If I want to used oauth in golang or other backend
then how to write Router path="/other" component={...} in reasonReact to used other pages

This problem has been stuck for a long time and can't be solved.

[2020-08-16 17:27] cknitt opened #618 "[ppx] type of optional prop not checked correctly in JSX"
@rickyvetter Following up our discussion on Discord:

Consider the following external declarations for React component A:

[code]

and B:

[code]

For A, `myProp` has type `option(bool)`.

For B, `myProp` has type `option(option(bool))`.

Now the following JSX compiles fine (using bs-platform 8.2.0 and reason-react 0.9.1):

[code]

but

[code]

fails.

I would have expected

[code]

to be correct

[2020-08-16 17:35] cknitt commented on #618
Note that `bs.obj` (on which `@react.component` is based) works correctly:

[code]

[2020-08-18 20:58] peterpme opened #619 "Docs: Write article about Js.Nullable and how to use with JavaScript"
https://github.com/search?l=Reason&type=Code&q=Js.Nullable

how to use js.nullable with options, etc.

[2020-09-04 07:08] tony-go commented on #458
Hi Folks 👋

I get a similar issue:

[code]

When I go to `/page` -> File not found. :(

My deps:

[code]

Let me know If I could help ^^

[2020-09-04 20:10] yawaramin commented on #458
@tony-go you mean when you go to `/page/` (with a trailing slash), you get 'Page Not Found' rendered on the page?

[2020-09-09 07:54] tony-go commented on #458
Nope. I mean I have a white page with " File not found. :("

I try with another repo and it seems to work. I have not the version of the packages here. I'll post it here later.

[2020-09-14 18:21] earksiinni opened #622 "[ppx] Support custom jsx pragmas/functions"
Hi there! I'm brand new to Reason and ReasonReact, and I'm evaluating how our team might use Reason in our project. Everything looks great, thank you for all of your hard work on making Reason accessible to people in the React world.

We've hit one major stumbling block, however. Our project uses [Theme UI](https://theme-ui.com/) for CSS-in-JS styling, which works like this:

1. Each styled compon

[2020-09-25 16:55] rickyvetter commented on #622
Hey @earksiinni - I think a custom pragma is a good eventual idea but the compilation of the ppx today is in flux (moving from createElement to jsx and to individual props), so I don't think this is ready to happen right now. I see in the linked issue that you're exploring some other solutions and have more context - I'll respond there with some thoughts on the different strategies for getting the

[2020-09-25 17:14] rickyvetter commented on #622
After commenting on the compiler issue and thinking about this more, it actually doesn't make sense to centralize a pragma for the PPX. The React PPX is always the very last one to run due to how it's implemented so a different PPX just has only convert the statements it wants to deal with and then the React PPX will convert everything that falls through. I think that creates a nice decentralizati

[2020-09-25 17:14] #622 closed

[2020-10-06 21:43] AHBruns opened #624 "Array of children not allowed"
I'm quite new to ReasonReact. So, there's a good chance I've just missed something, but I've been trying to figure out how to pass an array of children to a component and haven't been able to figure it out. This is what I've made:

![code](https://user-images.githubusercontent.com/33048856/95262518-e37c0280-07f1-11eb-98fe-e71012539505.png)

and this is the error I'm getting from it

<img width="80

[2020-10-07 00:29] jihchi commented on #624
Could you try to wrap your array of children in `React.array`, for example:

[code]
([playground link](https://rescript-lang.org/try?code=PTAEAUBsFMEMGdqgHYHsAu0BcAoEoBaIvMAFQAskpYBPAcwCdUBXZAE1AEt5R51PIkULFAB3VAwDWXZKAAOTRtHjwSoAErQAygGMGnOelBhUkDpoSpZ8GsnSwAHr3Isz82A0SgAVsz5qAM05kJAAKOlRQdEj0SlAAIi1odH5kOnh49xChAIko1Do6SGC6Xlt7BwBKADoSNQAxaGgchib8+UhaYSZWDlh2UB1UAFs5ASR4Eeg1TV19Q0HUNmgAQhwcYaXmG

[2020-10-07 00:51] AHBruns commented on #624
Worked like a charm! Thank you. Also, just out of curiosity, is this documented somewhere? If not, I'd highly recommend adding a note about it since it's a very common use-case.

[2020-10-10 06:39] hesxenon opened #626 "include offset(X/Y) in ReactEvent.Mouse"
is there any reason why [`offsetX`](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/offsetX) and [`offsetY`](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/offsetY) are not included in `ReactEvent.Mouse`? At first I thought it's because it's still marked as experimental on mdn, but so are `pageX` and `pageY` and they are included?

[2020-10-10 19:45] hesxenon commented on #626
my bad, was confusing it with bindings for nativeEvent, react event doesn't have offset(X/Y)

[2020-10-10 19:45] #626 closed

[2020-10-14 13:31] jihchi commented on #624
It is documented in new function components' [doc](https://reasonml.github.io/reason-react/docs/en/components#rendering-text-int-floats-arrays-and-null) and old Record API [doc](https://reasonml.github.io/reason-react/docs/en/render)).

[2020-10-19 13:02] TristanCacqueray opened #627 "ReactTestUtils.actAsync returned promise can't be used more than once"
It seems like the actAsync Promise is broken and it results in undefined error when used twice, for example:

[code]

yield this error: `TypeError: Cannot read property 'then' of undefined`

More details in: https://github.com/glennsl/bs-jest/pull/77

[2020-10-20 21:04] captain-yossarian opened #628 "Unable to run initial project from docs"
Hi, I'am unable to run [initial project](https://reasonml.github.io/reason-react/docs/en/installation#using-bucklescript-init) from docs.
This is the error:
[code]

Also I have across whole project these strange errors:
![reason-error](https://user-images.githubusercontent.com/16646733/96643730-4ad49f00-1328-11eb-82f8-38334926ab29.png)

------------------------------
 bsb version: 8.3.1
 npm: 6.14

[2020-10-22 05:37] wingyplus opened #629 "Library cannot install via npm@7 together with bsb@8.3.1"
Reproduce steps:

[code]

The problems cause from `reason-react` require bs-platform that lower than bs-platform in the main project. The solution might be try using `>=` in the bs-platform version.

NOTE: The current workaround is running `npm i --save --legacy-peer-deps reason-react` to install on `npm@7`.

[2020-10-24 12:12] bloodyowl commented on #627
The `actAsync` function in `React` doesn't return an actual promise, I think you can fix that by doing:

[code]

[2020-10-25 06:33] milanbella commented on #628
I am using Windows 10 and it does not work either:

 `C:\pok\my-react-app>` npm run build

ninja: error: 'C:/pok/my-react-app/node_modules/reason-react/src/React.re', needed by 'src/React.reast', missing and no known rule to make it
Failure: C:\pok\my-react-app\node_modules\bs-platform\win32\ninja.exe
 Location: C:\pok\my-react-app\node_modules\reason-react\lib\bs
npm ERR! code 2
npm ERR! path C:\

[2020-10-25 12:21] bobzhang commented on #628
tracked here https://github.com/rescript-lang/rescript-compiler/issues/4766
the root cause is that npm changed modification time to a weird date 1985..
will be fixed in next release

[2020-10-25 12:21] #628 closed

[2020-10-28 19:01] TristanCacqueray commented on #627
Thank you for the feedback, this solution works. Shouldn't it be the default so that actAsync can be used directly with Jest.testPromise ?

[2020-11-26 06:30] banacorn commented on #624
It took me like a year to find out that `React.array` exists.

[2020-11-26 16:39] jacobp100 opened #637 "Discussion on Spread Props"
I wanted to open a discussion on a possible way forward to add spread props

If we required users to specify the type of the spread props (assume in the same file for now), it might be possible to have the PPX transform the following,

[code]

into

[code]

This should preserve type safety and enable spreading

It'll also have the added benefit that you could use multiple rest/spread types (assumi

[2020-11-30 15:29] aleksandrlat opened #638 "New ReScript and ReasonReact"
I could not find any useful info about ReasonReact in shadow of ReScript. So I'm asking here

Will ReasonReact be rebranded to ReScriptReact? Or something like this?
Can we use ReasonReact with ReScript?
Will ReasonReact be rewritten in ReScript?
Will the docs be updated to use ReScript?
Will new site appear for ReScriptReact?

If it is not right place to ask these questions could you please forwa

[2020-12-01 17:57] mweichert commented on #638
Watching. :)

[2020-12-02 05:59] jihchi commented on #638
Sharing some of my experience:

- Will ReasonReact be rebranded to ReScriptReact? Or something like this?

- Can we use ReasonReact with ReScript?

- Will ReasonReact be rewritten in ReScript?

- Will the docs be updated to use ReScript?

- Will new site appear for ReScriptReact?

- If it is not right place to ask these questions could you please forward me to right place?

[2020-12-06 21:41] earksiinni commented on #638
My $0.02 as someone who's brand new to ReScript and ReasonReact: updating the docs would be very much welcome. Ideally, the code examples should show three way comparisons between ReScript syntax, Reason syntax and JS output. I've managed to piece it all together but it's not at all obvious and directing folks to a forum is a good start but understandably a downer for newcomers.

[2020-12-08 09:50] woeps commented on #638
To my knowledge @ryyppy is working on updating and improving the docs for reasonreact to be included in rescript-lang.org.

I'm not aware what is planned for the current site.

[2020-12-08 11:03] ryyppy commented on #638
Thanks @woeps, let me provide some insights, because so far the whole ReScript migration process has been a pretty huge task. Please keep in mind that @rickyvetter might have different plans, I try to sync up with him once in a while to be sure our visions are aligned.

Yes. The naming will most likely be simplified to `rescript-react`.
Still needs to be discussed within the team when & how the mi

[2020-12-19 16:31] josdejong opened #639 "Minimal example on ReasonReact website has an unused variable "name""
The ReasonReact website (https://reasonml.github.io/reason-react/) has the following minimal example on the front page:

[code]

Here the prop `name` is not actually used.

Maybe it's an idea to change this to render something like `{React.string("Hello" ++ name ++ "!")}`?

😄

[2020-12-22 07:59] bobzhang commented on #639
sounds great, would you send a PR on this? thanks

[2020-12-22 09:28] josdejong commented on #639
Okido, here you go: #640

[2020-12-31 01:03] ersinakinci opened #642 "Drag events"
I created a PR for more correct bindings for `onDrag`, `onDrop`, etc.: https://github.com/reasonml/reason-react/pull/641

Basically, it creates a new event type and associated module, `ReactEvent.Drag`, that's the same as `ReactEvent.Mouse.t` except it includes a binding for [`dataTransfer`](https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API#Interfaces).

[2021-01-01 00:41] virgiledelplace opened #643 "special character in res compile"
Hello,

I think its not bug, i think its recommendation i need, i work on React project with rescript, but when i wrote a special character in my RES file like "é" i got "\xc3\xa9" in my bs.js file. Sur i use "string" |> React.string i fond understand, in my web render i got this : "Ã©". My editor is VSC in UTF-8 and in my html i have good meta-charset.

In advance, thanks you!

[2021-01-02 21:38] kanishka-work opened #644 "syntactic sugar for react.string"
It would be nice if there was some clever way to make `<tag>{"str"}</tag>` expand to using React.string, as a short hand for a common use case. Feel free to close this as won't fix, if you all prefer to not provide this.

Also, it would be nice if there was a simpler way to embed a comment in jsx than:

[code]

I encountered both needs mostly for prototyping. My production code is less likely to n

[2021-01-08 05:25] scottdlai opened #645 "Unable to resolve dependency tree when running `npm install`"
I created a project by running `bsb -init rescript-test -theme react-hooks` from the [Getting Started Guide](https://reasonml.github.io/reason-react/docs/en/installation)

## Output

[code]

## Environment

[code]

Thanks :D

[2021-01-08 19:09] scottdlai commented on #645
Here's the package.json file:
[code]

[2021-01-10 11:01] miles-d commented on #645
Hey, new ReasonReact user here, I run into similar problem (MacOS Big Sur 11.1, npm 7.0.15, node v15.4.0, bsb 8.4.2).
As a workaround, I resolved dependencies by running this in the project:

`npm i -D bs-platform@"^7.1.1"`.

BTW, on Linux with npm 6.14.6,node v14.6.0, bsb 8.4.2 it `npm install`s fine.

[2021-01-11 04:58] scottdlai commented on #645
Wow, @miles-d solution works

Thanks so much!

[2021-01-13 00:42] #644 closed

[2021-02-08 11:25] digression99 opened #649 "Error: Unbound value ContextProvider.makeProps"
Hi, I'm new to use reason-react. I happened to write a example code in the docs and I attached `include React.Context;` before my context provider to prevent `makeProps` issue, and I found it still exists.

Is there any solution to fix this error? Thank you for your help in advance!

<img width="1174" alt="Screen Shot 2021-02-08 at 8 18 27 PM" src="https://user-images.githubusercontent.com/7947600

[2021-03-06 14:49] sumanthyedoti opened #651 "How to scroll scrollable div to bottom"
How to implement scroll-to-bottom for scrollable div

Ref: [https://stackoverflow.com/a/270628/7631313](https://stackoverflow.com/a/270628/7631313)

[2021-03-08 04:17] sumanthyedoti commented on #651
Got the solution, using the awesome [bs-webapi](https://github.com/reasonml-community/bs-webapi-incubator)
[code]

[2021-03-08 04:17] #651 closed

[2021-03-12 14:45] bbruneau commented on #629
I've been fighting with this issue, too. It would sure be nice if someone from the team were to look at this.

[2021-03-19 16:37] bugeats opened #652 "Dependency problem during Quickstart"
I just sat down to try ReasonReact for the first time. The ReasonReact homepage currently has this quickstart copy pasta:

    npm install -g bs-platform
    bsb -init my-react-app -theme react-hooks
    cd my-react-app
    npm install && npm start

However, `npm install` is currently failing with:

[code]

Which is kinda a bad look, ya know?

[2021-03-19 16:42] bugeats commented on #652
As of today, here's the deps that I could get to resolve and then boot the server:
[code]

The key thing is that I changed `bs-platform` to `^7.1.1`.

[2021-03-26 10:09] stevematdavies commented on #652
This is not good indeed, there now appears to be several ways to theoretically get a Reason React app up, none work, and in fact, bucklescript is deprecated, so what gives?

[2021-03-30 08:54] stevematdavies commented on #645
This is not good for the platform, have any contributors actually looked into this?

[2021-04-04 13:32] mishaszu commented on #652
`reason-react`: `^0.9.1` has the same issue. It throws an error on installation.
In my case, if I force npm install. It throws an error but completes installation and app work anyway.

[2021-05-02 06:57] FaustXVI opened #654 "findBySelector in ReactTestUtils is typed incorrectly"
I am new to reason **and** react so I may be completely wrong but it seems to me like *DOM.findBySelector* is typed as returning an option where it should actually return a Js.Nullable.
Indeed, when not found, in javascript (and thus in reason) findBySelector returns `null` but `None` in reason is the equivalant of `undefined`.
This leads to wrong behavior like in the following test :

[code]

My

[2021-05-02 07:34] FaustXVI commented on #654
After investigating a bit more, I think that the `querySelector` is missing the `[@bs.return nullable]` annotation. Then the code would behave as expected.
Here is the same test with the correct behaviour :
[code]

If I am correct with this fix, I'll be happy to do a PR.

[2021-08-30 02:10] jfrolich commented on #422
Would be good to find a fix for this!

[2021-11-26 18:08] #609 closed

[2022-06-10 07:30] JUSTIVE opened #681 "SVG Filter support"
React supports svg filters like feblend, feflood, fematrix, etc.. (see https://github.com/facebook/react/search?q=feblend).
I can't use those tags with reason-react, seem there are no bindings for them.

[2022-10-13 11:47] emailtester11127 opened #683 "Rich Text Editor Support Issue"
Hello  @jordwalke @chenglou
currently  is there any way to used npm package in reasonml ?

How can we used Text editor or other npm packages like ( https://www.npmjs.com/package/react-draft-wysiwyg ) this in the reasonml.

[2022-11-23 19:24] davesnx commented on #683
This would require to be binded such as https://kevanstannard.github.io/rescript-blog/bind-to-external-component.html. Probably all information in the ReScript documentation https://rescript-lang.org/docs.

It seems like there's nothing that talks about binding to a ReactJS component, but should be easy to look for in google ^^

[2022-11-23 19:27] davesnx commented on #643
ReScript recently changed the behaviour of their UTF on strings, before was needed to use "`".

Check the playground: https://rescript-lang.org/try?code=DYUwLgBAhhC8EAMCHCBQpICM4QEQEvdUg

[2022-11-23 21:34] #639 closed

[2022-11-23 21:43] davesnx commented on #643
Nothing to do in reason-react, closing.

[2022-11-23 21:43] #643 closed

[2022-11-23 21:43] #683 closed

[2022-11-23 21:58] davesnx commented on #612
Not sure how's worth adding an external like renderWithReturn considering that most APIs might change for React 17/18.

I will close now since it seems like isn't being needed, but happy to discuss further if more cases appear.

[2022-11-23 21:58] #612 closed

[2022-11-23 22:00] #256 closed

[2022-11-23 22:04] davesnx commented on #429
I'm not sure if it's still relevant

[2022-11-23 22:08] davesnx commented on #283
That's a little harder in Reason than it might sound, we can't change the type definition of a function based on a value. Possible solutions like GADTs or moving this logic to the ppx are valid approaches to this, but unsure if the hassle makes sense here.

Smashing ideas here but, probably removing the multiple=true as a valid prop (add a warning when is used) and provide a `multiselect` with the